
__pycache__/
*.pyc
*.pyo
*.pyd


venv/
.venv/
env/


.env


*.log
etl/pipeline.log



data/superstore.csv


data/superstore_messy.csv


!data/superstore_sample.csv


.DS_Store
Thumbs.db
.vscode/
.idea/

*.sqlite3
*.db