version: '3.8'

services:
  postgres:
    image: postgres:${POSTGRES_IMAGE_TAG}
    container_name: ${CONTAINER_NAME}
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - dw_data:/var/lib/postgresql/data
      - ./sql:/docker-entrypoint-initdb.d
  
volumes:
  dw_data: